.root {
  position: relative;
  width: 100vw;
  height: 100vh;
  align-items: flex-start;
  background-color: #3f3f3f;
  overflow: hidden;
}
.AlertId {
  position: relative;
  left: 15%;
  top: 10%;
  width: 65%;
  height: 26.75rem;
  align-items: flex-start;
  border-radius: 14px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
.mapView {
  position: relative;
  width: 750px;
  height: 367px;
}
.mapIcon {
  width: 100%;
  height: 100%;
}
.alertInfo{
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.detectionInfo {
  position: relative;
  width: min-content;
  height: min-content;
  flex-direction: column;
  padding: 20px;
  border-radius: 12px;
  background-color: #eb57571a;
  overflow: hidden;
}
.detectionInfoInner {
  position: relative;
  width: 670px;
  height: 49px;
}
.detectedByText {
  color: #4f4f4f;
  font-size: 10px;
  font-weight: 600;
  font-family: Open Sans, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: relative;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.detectedDate {
  position: relative;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.detectedDateWrapper {
  font-size: 18px;
  font-family: Open Sans, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  flex-shrink: 1;
}
.detectedDays {
  color: #e86f56;
  font-size: 18px;
  font-weight: 600;
  font-family: Open Sans, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
}
.detectedDateText {
  color: #4f4f4f;
  font-size: 18px;
  font-family: Open Sans, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
}
.alertConfidence {
  position: relative;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.alertConfidenceInner {
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  flex-shrink: 1;
}
.alertConfidenceValue {
  color: #4f4f4f;
  font-size: 14px;
  font-weight: 600;
  font-family: Open Sans, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
}
.alertConfidenceText {
  color: #4f4f4f;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
}
.alertIconWrapper {
  position: relative;
  width: 45px;
  height: 45px;
  overflow: visible;
}
.alertIcon {
  width: 100%;
  height: 100%;
}
.alertLocationParent {
  position: relative;
  align-items: flex-start;
  gap: 10px;
  padding: 20px;
  outline: solid 1px #d9d9d9;
  outline-offset: 0px;
  border-radius: 12px;
  background-color: #ffffff1a;
  overflow: hidden;
}
.alertCoordinates {
  color: #4f4f4f;
  font-size: 16px;
  font-family: Open Sans, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: relative;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.locationText {
  color: #4f4f4f;
  font-size: 8px;
  font-weight: bold;
  font-family: Open Sans, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: relative;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.locationPinIcon {
  position: relative;
  width: 17.2496px;
  height: 20px;
  overflow: visible;
}
.pinIcon {
  width: 100%;
  height: 100%;
}
.ellipseIconParent {
  position: relative;
  width: 31px;
  height: 31px;
  overflow: visible;
}
.ellipseIcon {
  width: 100%;
  height: 100%;
}
.copyIconGrandParent {
  position: relative;
  width: 15.9697px;
  height: 19.7273px;
  align-items: flex-start;
}
.copyIconParent {
  position: relative;
}
.copyIcon {
  width: 100%;
  height: 100%;
}
.actionParent {
  position: relative;
  width: 366px;
  height: 75px;
  align-items: flex-start;
  padding: 20px;
  outline: solid 1px #d9d9d9;
  outline-offset: 0px;
  border-radius: 12px;
  background-color: #ffffff1a;
  overflow: hidden;
}
.radarIconParent {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: visible;
}
.radarIcon {
  width: 100%;
  height: 100%;
}
.actionInner {
  position: relative;
  width: 240px;
  height: min-content;
  flex-direction: column;
}
.actionLabel {
  font-size: 16px;
  font-family: Open Sans, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  flex-shrink: 1;
}
.actionText1 {
  color: #4f4f4f;
  font-size: 16px;
  font-family: Open Sans, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
}
.actionText2 {
  color: #4f4f4f;
  font-size: 16px;
  font-weight: bold;
  font-family: Open Sans, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
}
.actionText3 {
  color: #4f4f4f;
  font-size: 16px;
  font-family: Open Sans, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
}
.googleMapsButton {
  position: relative;
  width: min-content;
  height: min-content;
  padding: 16px 64px;
  outline: solid 1px #e86f56;
  outline-offset: -1px;
  border-radius: 14px;
  background-color: #fff;
}
.openInGoogleMapsText {
  color: #e86f56;
  font-size: 18px;
  font-weight: 600;
  font-family: Open Sans, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  z-index: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}


