.root {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    background-color: #3f3f3f;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Open Sans, system-ui, -apple-system, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
}

.mainCard {
    position: relative;
    width: 80%;
    height: 433px;
    max-width: 902px;
    align-items: flex-start;
    border-radius: 14px;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
}

.mailImageWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    overflow: hidden;
    border-radius: 0.875rem 0 0 0.875rem;
    background-color: #fdeeee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mailImage {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 351px;
    height: 351px;
}

.mainContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.verifyHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.verifyAlertMethodText {
    color: #182035;
    font-size: 24px;
    font-weight: bold;
}

.code {
    color: #606268;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
}

.otpCard {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.verificationResult {
    position: relative;
    width: min-content;
    height: min-content;
    text-align: center;
    align-items: center;
    white-space: nowrap;
    flex-direction: column;
    margin-top: 1rem;
}

.textBlockError {
    color: #dc3f1f;
    font-size: 14px;
}

.textBlock2Error {
    margin-top: 0;
    color: #dc3f1f;
    font-size: 14px;
}

.textBlockSuccess {
    color: #006e51;
    font-size: 14px;
}

.textBlock2Success {
    margin-top: 0;
    color: #006e51;
    font-size: 14px;
}

.completeVerificationButton {
    width: 71%;
    padding: 16px 64px;
    border-radius: 14px;
    border-width: 0;
    background-color: #e86f56;
    transition: background-color 0.3s, color 0.3s, outline 0.3s;
}

.completeVerificationButton:hover {
    background-color: #fff;
    outline: solid 2px #e86f56;
    outline-offset: -1px;
    cursor: pointer;
}

.completeVerificationButton .completeVerificationText {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    width: min-content;
    height: min-content;
    white-space: nowrap;
}

.completeVerificationButton:hover .completeVerificationText {
    color: #e86f56;
}

@media (max-width: 1136px) {
    .completeVerificationButton {
        width: min-content;
        height: min-content;
        padding: 10px 40px;
    }
}

@media (max-width: 769px) {
    .mainCard {
        width: 50%;
    }

    .mailImageWrapper {
        display: none;
    }
}

@media (max-width: 667px) {
    .mainCard {
        width: 55%;
    }
}

@media (max-width: 567px) {
    .mainCard {
        width: 60%;
    }
}

@media (max-width: 497px) {
    .mainCard {
        width: 65%;
    }

    .completeVerificationButton {
        padding: 6px 24px;
    }
}

@media (max-width: 497px) {
    .mainCard {
        width: 70%;
    }

    .completeVerificationButton {
        padding: 6px 18px;
    }
}

@media (max-width: 350px) {
    .mainCard {
        width: 80%;
    }

    .completeVerificationButton {
        padding: 6px 12px;
    }
}

@media (max-width: 290px) {
    .mainCard {
        width: 90%;
    }
}