.root {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    background-color: #d5d5d5;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Open Sans, system-ui, -apple-system, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
}

.mainCard {
    position: relative;
    width: 40%;
    height: 433px;
    max-width: 902px;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #dc3f1f;
}